# .github/workflows/code_checks.yaml
name: Code_Checks

on: ["push", "pull_request"]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.2']
        stability: [ prefer-stable ]
        include:
          - php: '8.1'
            stability: prefer-lowest
          - php: '8.1'
            stability: prefer-stable
          - php: '8.2'
            stability: prefer-stable
          - php: '8.3'
            stability: prefer-stable
          #- php: '8.4'
            #stability: prefer-stable

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}
    steps:
      # basically git clone
      - uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      # use PHP of specific version
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl
          coverage: pcov

      - name: Install dependencies
        run: composer update --no-interaction --prefer-dist

      - name: Execute tests
        run: vendor/bin/phpunit
